<! DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Polls - add new product</title>
    <link href="" rel="stylesheet" integrity="sha384-giJF6kkoqNQOOvy+HMDP7azOuLOxtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
    <div class="container mt-3">
      <form action="add_product" method="post">
            {% csrf_token %}
            {{ product_form.as_table }}
            <input type="submit" value="Save" />
        </form>
    </div>
</body>
</html>