<! DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Polls - demand</title>
    <link href="" rel="stylesheet" integrity="sha384-giJF6kkoqNQOOvy+HMDP7azOuLOxtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
<h1>Zapotrzebowanie</h1>
    <div class="container mt-3">
        <a href="{% url 'categories'%}">Category list</a>
        <a href="{% url 'create'%}">Add new product</a>
        <a href="{% url 'shopping_list'%}">View shopping list</a>
        <a href="{% url 'list_buy_product'%}">History</a>
        <a>Request</a>
        <a href="{% url 'logout'%}">Logout</a>
        <hr>
        <table id="storage" name="storage" class="storage">
            <th>
                <tr>
                    <td>Name:</td>
                    <td>Description:</td>
                    <td>Quantity:</td>
                    <td>Category:</td>
                    <td>Requestor:</td>
                    <td></td>
                </tr>
            </th>
            <tbody>
                {% for data in queryset %}
                <tr class="storage_item">
                    <td id="product_name" class="item_value">{{data.name}}</td>
                    <td id="product_description" class="item_value">{{data.description}}</td>
                    <td id="product_quantity" class="item_value">{{data.quantity}}</td>
                    <td id="product_category" class="item_value">{{data.category}}</td>
                    <td id="product_price" class="item_value">{{data.user.name}}</td>
                    <td id="product_operations" class=item_value">
                        <a href="product/{{data.id}}/add_to_shopping">+</a>
                        <a href="product/{{data.id}}/delete">X</a>
                        <a href="product/{{data.id}}/update">E</a>

                    </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
        <hr>
    </div>
</body>
</html>